node_modules/
.expo/
.metro-cache/
android/
ios/
.git/
*.map
coverage/
.idea/
.vscode/
**/__tests__/
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
**/.DS_Store
**/*.log
dist/
web-build/
.kotlin/
*.tsbuildinfo
app-example/
